
<footer class="bg">
  <div class="container">
      <div class="row gy-4">
          <div class="col-12 col-md-3 text-md-start">
              <p>© 2024 Vishvena. All rights reserved.</p>
          </div>

          <div class="col-12 col-md-3 text-md-start">
              <h5 class="footer-title">Get in Touch</h5>
              <address>
                  No. 4-28/36/1, Kandi, Saraswati Temple Kandi,<br>
                  Sangareddy Medak 502285 Telangana
              </address>
              <p>{{email}}</p>
              <p><a href="tel:+918296348166" class="footer-link">+91 8296348166</a></p>
          </div>

          <div class="col-12 col-md-3 text-md-start">
              <h5 class="footer-title">Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="footer-link">About Us</a></li>
                  <li><a href="#" class="footer-link">Expertise Area</a></li>
                  <li><a href="#" class="footer-link">Services</a></li>
              </ul>
          </div>

          <div class="col-12 col-md-3 text-md-start">
              <h5 class="footer-title">Our Newsletter</h5>
              <p>Subscribe to our newsletter to get our news & deals delivered to your inbox!</p>
              <div>
                  <button class="btn-custom mb-2 mb-md-0">Email Address</button>
                  <button class="join">JOIN</button>
              </div>
          </div>
      </div>
  </div>
</footer>
